$default-font-size: 13px;

body, html, * {
  margin: 0px;
  padding: 0px;
}

body {
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);

  padding: 1em;

  font-size: $default-font-size;
  font-family: "Source Code Pro", sans-serif;

  background-color: black;
  color: white;
}

header {
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
}

h1 {
  font-size: $default-font-size;
}

a {
  color: white;
  text-decoration: underline;
}

input {
  font-size: inherit;
  font-family: inherit;
}

main div.section {
  &:not(:first-child) {
    margin-top: 1em;
  }

  span:not(:first-child) {
    margin-left: 1ch;
  }
}

span {
  padding: 2px;
}

main div.view_selector .view_option.selected {
  text-decoration: underline;
  border-radius: 3px;
}

main div.settings input#select_train {
  background: black;
  color: white;

  text-decoration: underline;

  margin-left: 1ch;
  border: none;
}

main div.view {
  .station span {
    display: inline-block;

    // background-color: red;

    border-radius: 2px;

    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
  }

  .info .status {
    background-color: green;
    border-radius: 3px;
  }

  .info .late {
    background-color: red;
    border-radius: 3px;
  }

  .station.passed {
    color: #aaa;
  }

  .station.current {
    color: green;
    font-weight: bold;
  }

  .station span.station_name {
    width: 10ch;
    text-decoration: underline;
  }

  .station span.departure_time {
    width: 8ch;
  }

  .station span.actual_departure_time {
    width: 12ch;
  }

  .station span.estimated_departure_time {
    width: 12ch;
  }

  .station span.late {
    width: 7ch;
  }

  .station.headers {
    text-decoration: none;
    font-weight: bold;
  }
}
